* {
    background: #32174D;
}

.links {
    display: block;
    background-color: #32174D;
    color: black;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    text-align: right;
}

.button {
    text-decoration: none;
    color: black;
}

.button:hover {
    color: white;
    background-color: #32174D;
}